<h1>Editing Friend</h1>
<br/>
<%= render 'form', post: @post %>
<br/>
<%= link_to 'Show', @post, class:"btn btn-secondary"%> 
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', posts_path, class:"btn btn-dark" %>
